
body {
  background-image: url(black.jpg);
}

.doc {
  position: relative;
  height: 600px;
  width: 60%;
  outline: thick ridge grey;
  padding: 3%;
  padding-top: 0;
  /*padding-left: 0;*/
  margin-left: 20%;
  margin-right: 20%;
  margin-bottom: 2%;
  margin-top: 1%;
  overflow-y: scroll;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
